@import 'tailwindcss';


@theme{
    --color-dyd-50: #f1f8fe;
    --color-dyd-100: #e1effd;
    --color-dyd-200: #bcdefb;
    --color-dyd-300: #81c4f8;
    --color-dyd-400: #3fa6f1;
    --color-dyd-500: #158be2;
    --color-dyd-600: #096ec0;
    --color-dyd-700: #085394;
    --color-dyd-800: #0b4b81;
    --color-dyd-900: #0f3f6b;
    --color-dyd-950: #0a2847;
    --font-poppins: 'Poppins', sans-serif;
    --font-inter: 'Inter', sans-serif;
}
